*
    border: 0
    margin: 0
    padding: 0

.container
    width: 1150px
    margin: 0 auto

body
    background: linear-gradient(180deg, #4C5772 0%, #4C5772 100%)

.main
    padding: 40px 0 40px 0
    background: url('../img/Group 14.png') no-repeat

.link_icon_contacts-parent
    display: flex
    justify-content: space-between

.contacts-parent
    height: 72px
    width: 70%
    background: rgba(0,0,0,.1)
    border-radius: 150px
    display: flex
    justify-content: space-around
    align-items: center

.number
    display: flex
    align-items: center
    justify-content: space-between
    width: 20%
    &_phone
        align-items: center
        font-family: 'Montserrat'
        font-weight: 500
        font-size: 16px
        line-height: 20px
        text-decoration: none
        color: #EBEBEB

.email
    display: flex
    justify-content: space-between
    width: 25%
    font-family: 'Montserrat'
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: #EBEBEB

.social_networks
    display: flex
    justify-content: space-between
    width: 20%

.title
    margin-top: 80px
    font-family: 'Raleway'
    font-weight: 500
    font-size: 22px
    line-height: 26px
    color: #FFFFFF
    &_descr
        font-family: 'Raleway'
        font-style: normal
        font-weight: 400
        font-size: 16px
        margin-top: 40px
        line-height: 19px
        color: #FFFFFF

.btn_yellow
    background: linear-gradient(90deg, #FFE848 0%, #FFE636 47.92%, #FFE848 100%)
    box-shadow: inset 0px 1px 4px rgba(255, 232, 72, 0.76)
    cursor: pointer
    border-radius: 100px
    width: 473px
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 22px
    color: #1A1D25
    margin-top: 81px
    height: 79px

header
    background: #1A1D25
    margin: 30px 0 30px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02)
    .btn_yellow
        width: 159px
        margin: 30px
        height: 42px

.menu_ul
    display: flex
    justify-content: space-between
    align-items: center
    list-style-type: none
    &_list
        font-family: 'Raleway'
        font-weight: 500
        font-size: 16px
        line-height: 19px
        text-align: center
        color: #FFFFFF

.list_link
    font-family: 'Raleway'
    font-weight: 500
    font-size: 16px
    line-height: 19px
    text-align: center
    color: #FFFFFF
    text-decoration: none

.selection-of-houses
    padding: 40px 0 40px 0
    background: url('../img/Group 16.png')
    .title
        display: flex
        align-items: center
        justify-content: center
    .title::before
        content: url('../icons/selection-of-houses-img/house-svgrepo-com (22) 1.png')
    .btn_yellow
        width: 401px
        height: 68px
        background: linear-gradient(90deg, #FFE848 0%, #FFE636 47.92%, #FFE848 100%)
        box-shadow: inset 0px 1px 4px rgba(255, 232, 72, 0.76)
        border-radius: 10px
        margin: 0

.house
    background: rgba(26, 29, 37, 0.14)
    width: 947px
    height: 559px
    margin-top: 105px

.btn_house_list
    display: flex
    align-items: flex-end
    align-content: space-around
    padding: 23px
    justify-content: space-around

.btn_dark
    width: 467px
    height: 68px
    background: rgba(26, 29, 37, 0.6)
    border-radius: 10px
    font-family: 'Montserrat'
    font-weight: 500
    font-size: 19.5894px
    line-height: 24px
    text-align: center
    color: #FFFFFF

.photo_house-description
    display: flex
    justify-content: space-between

.house_information
    background: rgba(33, 36, 44, 0.24)
    padding: 40px
    width: 100%


.data_title
    font-family: 'Montserrat'
    font-weight: 500
    font-size: 16.8614px
    line-height: 21px
    display: flex
    align-items: center
    color: #FFFFFF

.data_descr
    font-family: 'Montserrat'
    font-weight: 500
    font-size: 14.9879px
    line-height: 18px
    color: rgba(255, 255, 255, 0.42)

.house_dimensions, .house_square, .house_comfort
    display: flex
    justify-content: space-around
    align-items: center
    max-width: 300px

.house_dimensions
    .data_title::before
        content: url('../icons/selection-of-houses-img/house-scale-svgrepo-com 2.png')

.house_square
    .data_title::before
        content: url('../icons/selection-of-houses-img/house-scale-svgrepo-com 2.png')

.house_comfort
    .data_title::before
        content: url('../icons/selection-of-houses-img/house-scale-svgrepo-com 2.png')
